.horiz-nav {
        background-color: #333;
        }
        .horiz-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        }
        .horiz-nav li {
        margin-right: 25px;
        }
        .horiz-nav a {
        color: white;
        text-decoration: none;
        padding: 14px 20px;
        display: block;
        }
        /* Hover effect */
        .horiz-nav a:hover {
        background-color: #575757;
        }
        /* Active (current page) link */
        .horiz-nav a.active {
        background-color: #04AA6D;  /* a green highlight */
        font-weight: bold;          /* make it stand out */
        }
        .horiz-nav a.active:hover {
            color: black;
        }
        .horiz-nav a.active:hover ~ a {
            color: black;
        }
        .horiz-nav .active:hover + .hide { /*this shows hide*/
            visibility: visible;
            background-color: #575757;
        }
        .hide {/* this is hidden*/
            visibility: hidden;
            position: absolute;
            display: block;
            top: 0;
            transform: translate(0, 54px);
        }
        .hide:hover { /*keeps hide visible when you hover over it*/
            visibility: visible;
        }

.vocab {
    border-bottom: 1px dotted black;
    color:blue;
    position: relative;
}
.vocab-def {
    visibility: hidden;
    position: absolute;
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    z-index: 1;
    top: -100%;
    left:105%;
    transition: 0.5s ease;
    opacity: 0;
}
.vocab:hover .vocab-def {
    visibility: visible;
    opacity: 1;
}

.gallery-img {
    width: 300px;
}